$primary1: #1d2038;
$primary2: #5b79c8;
$primary3: #fec74e;
$primary4: #ff6738;
$primary5: #ea5147;

$primary6: #33435e;
$primary7: #0f1618;
$primary8: #28a17d;
$primary9: #605453;
$primary10: #566bc8;
$primary11: #313d37;
$primary12: #f0f3f2;
$primary13: #fff;
$primary14: #000;
$primary15: #bbc1c2;

// dark theme

$bg-dark-primary: #1d2038;
$bg-dark-secondary: #33435e;

// light theme

:root {
  --black: #000;
  --black2: rgb(14, 13, 13);
  --white: #fff;
  --white2: rgb(237, 233, 233);
  --liteblue: #566bc8;
  --green: #28a17d;
  --gray: rgb(116, 117, 118);
  --error: red;
}
