{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'assets/icons/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'dist/style.css' %}" />
    <title>Tweeper</title>
    <script>
      var user = '{{request.user}}';
    </script>
  </head>
  <body class="light">
    {% include 'navbar.html' %} {% block content %} {% endblock %}
    <!-- javascript  -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- javascript  -->
  </body>
</html>
